//modules
@use "./utils/variables";
@use "./utils/mixins";

//components
@use "./components/profile";
@use "./components/buttons";

//font-family
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  //module mixins
  @include mixins.flex-center;
  background-color: variables.$primary-color;
  margin: 16px;

}

.container {
  //module mixins
  @include mixins.flex-center;
  flex-direction: column;
  gap: variables.$gap-size;
  
  //profile component go here
  //buttons component go here

  
}

.copyright {
  margin: variables.$gap-size;
  color: variables.$third-color;
}
