//modules
@use "./utils" as *;

//components
@use "./components";


//font-family
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  //module mixins
  @include flex-center;
  background-color: $primary-color;
  margin: 16px;

}

.container {
  //module mixins
  @include flex-center;
  flex-direction: column;
  gap: $gap-size;
  
  //profile component go here
  //buttons component go here

  
}

.copyright {
  margin: $gap-size;
  color: $third-color;
}
