$primary-color: #202125;
$secondary-color: #dfba63;
$third-color: white;
$yt-color: #ff0000;
$twitch-color:#8A43F2;
$insta-color:#E2612F;
$discord-color:#525DEA;
$superprof-color:#F25E5E;
$github-color:#4d4d4d;
$linkedin-color:#0961B8;

$gap-size: 20px;